@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root {
  --almost-black: #030303;
  --almost-white: #fff7f0;
  --purple: #755cde;
  --yellow: #f6a560;
  --pink: #f39e9e;
  --red: #eb7565;
  --green: #61c4b7;
  --purple2: #552049;
  --gray: #7a746e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500; 
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  min-height: 100vh;
  background-color: var(--almost-white);
  font-size: 1.8rem;
}

a {
  display: inline-block;
  width: 176px;
  height: 44px;
  border-radius: 30px;
  text-align: center;
  padding: 12px;
  font-size: 1.4rem;
  font-weight: 700;
}

header a, footer a {
  background-color: var(--almost-black);
  color: var(--almost-white);
}

header a:hover, footer a:hover {
  background-color: var(--purple);
}

.logo {
  width: 48px;
}

nav, #footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

h1 {
  color: var(--almost-black);
  font-size: 3.6rem;
  font-weight: 700;
  text-align: center;
  padding: 16px;
}

header p {
  color: var(--gray);
  font-size: 1.6rem;
  font-weight: 500;
  text-align: center;
  padding: 0px 30px 32px 30px;
}

main {
  padding: 0px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  grid-template-areas: 
    "graphic-design"
    "grid-group-1"
    "grid-group-2";
}

.graphic-design {
  grid-area: graphic-design;
  width: 343px;
  height: 364px;
  background-color: var(--purple);
  border-radius: 8px;
  padding: 24px;
  position: relative;
}

.graphic-design img {
  position: absolute;
  top: 24px;
  right: 24px;
}

.graphic-design h3 {
  color: var(--almost-white);
  font-size: 2.4rem;
  font-weight: 700;
  text-align: left;
  position: absolute;
  bottom: 24px;
  left: 24px;
}

.ui-ux {
  min-width: 159px;
  height: 182px;
  background-color: var(--yellow);
  border-radius: 8px;
  padding: 24px;
  position: relative;
  grid-column: span 1;
}

.ui-ux img {
  position: absolute;
  top: 24px;
  right: 24px;
}

.ui-ux h3 {
  color: var(--almost-white);
  font-size: 2.4rem;
  font-weight: 700;
  text-align: left;
  position: absolute;
  bottom: 24px;
  left: 24px;
}

.apps {
  min-width: 159px;
  height: 182px;
  background-color: var(--pink);
  border-radius: 8px;
  padding: 24px;
  position: relative;
  grid-column: span 1;
}

.apps img {
  position: absolute;
  top: 24px;
  right: 24px;
}

.apps h3 {
  color: var(--almost-white);
  font-size: 2.4rem;
  font-weight: 700;
  text-align: left;
  position: absolute;
  bottom: 24px;
  left: 24px;
}

.illustrations {
  min-width: 343px;
  height: 158px;
  background-color: var(--red);
  border-radius: 8px;
  padding: 24px;
  position: relative;
  grid-column: span 2;
}

.illustrations img {
  position: absolute;
  top: 24px;
  right: 24px;
}

.illustrations h3 {
  color: var(--almost-white);
  font-size: 2.4rem;
  font-weight: 700;
  text-align: left;
  position: absolute;
  bottom: 24px;
  left: 24px;
}

.photography {
  min-width: 343px;
  height: 182px;
  background-color: var(--green);
  border-radius: 8px;
  padding: 24px;
  position: relative;
  grid-column: span 1;
}

.photography img {
  position: absolute;
  top: 24px;
  right: 24px;
}

.photography h3 {
  color: var(--almost-white);
  font-size: 2.4rem;
  font-weight: 700;
  text-align: left;
  position: absolute;
  bottom: 24px;
  left: 24px;
}

.motion-graphics {
  min-width: 343px;
  height: 182px;
  background-color: var(--purple2);
  border-radius: 8px;
  padding: 24px;
  position: relative;
  grid-column: span 1;
}

.motion-graphics img {
  position: absolute;
  top: 24px;
  right: 24px;
}

.motion-graphics h3 {
  color: var(--almost-white);
  font-size: 2.4rem;
  font-weight: 700;
  text-align: left;
  position: absolute;
  bottom: 24px;
  left: 24px;
}

.grid-group-1 {
  grid-area: grid-group-1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

.grid-group-2 {
  grid-area: grid-group-2;
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
}

.info {
  padding: 100px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

picture {
  width: 300px;
  height: 300px;
}

.info img {
  width: 100%;
}

.info h2 {
  color: var(--almost-black);
  font-size: 2.6rem;
  font-weight: 700;
  text-align: center;
  padding: 40px 16px 24px 16px;
}

.info p {
  color: var(--gray);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 26px;
  text-align: center;
  padding: 0 16px;
}

.info a {
  background-color: var(--red);
  color: var(--almost-white);
  margin-top: 32px;
}

.info a:hover {
  background-color: var(--yellow);
}

.slides h2 {
  color: var(--almost-black);
  font-size: 2.4rem;
  font-weight: 700;
  text-align: center;
  padding: 0 16px 32px 16px;
}

.slideshow-container {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: auto;
}

.slide {
  display: none;
}

.slide img {
  width: 100%;
  height: auto;
}

.prev, .next {
  cursor: pointer;
  background-color: var(--almost-black);
  border: none;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  text-align: center;
}

.prev:hover, .next:hover {
  background-color: var(--purple);
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-top: 32px;
  margin-bottom: 100px;
}

.call {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--almost-black);
  color: var(--almost-white);
  border-radius: 10px;
  padding: 50px 25px;
}

.call h2 {
  font-size: 2.6rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 24px;
}

.call p {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 26px;
}

.call a {
  display: block;
  background-color: var(--red);
  color: var(--almost-white);
  margin-top: 32px;
}

.call a:hover {
  background-color: var(--yellow);
}


@media (min-width: 768px) and (max-width: 1024px) {
  a {
    width: 228px;
    height: 56px;
    padding: 18px;
  }

  .grid {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
      "graphic-design grid-group-1"
      "graphic-design grid-group-1"
      "grid-group-2 grid-group-2";
  }

  .grid-group-2 {
    grid-template-columns: 1fr 1fr;
    
  }
}

@media (min-width: 1024px) {
  a {
    width: 228px;
    height: 56px;
    padding: 18px;
  }

  .grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
      "graphic-design grid-group-1 grid-group-2"
      "graphic-design grid-group-1 grid-group-2";
  }
}